<div class="container pad-top">
  <table class="table shipwrecktable">
      <tr>
          <td><h3>Details for {{chocolate.fields.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{chocolate.fields.name}}</td>
      </tr>
      <tr>
          <td>Rating</td>
          <td>{{chocolate.fields.rating}}</td>
      </tr>
      <tr>
          <td>Review year</td>
          <td>{{chocolate.fields.review_date}}</td>
      </tr>
      <tr>
          <td>Cocoa percentage</td>
          <td>{{chocolate.fields.cocoa_percent}}</td>
      </tr>
      <tr>
          <td>Company location</td>
          <td>{{chocolate.fields.company_location}}</td>
      </tr>
      <tr>
          <td>Bean origin</td>
          <td>{{chocolate.fields.broad_bean_origin}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editShipwreck({id:shipwreck.id})">Edit</a>
  </div>
</div>
